<form
          id="quoteForm"
          action="/success"
          netlify-honeypot="bot-field"
          name="get-a-quote"
          method="post"
          data-netlify="true"
        >
        <!-- NETLIFY SECTION -->
        <section>
          <input type="hidden" name="form-name" value="getAQuote">
          <p class="hidden">
            <label>Don’t fill this out if you're human: <input name="bot-field"></label>
          </p>
          <input type="hidden" name="name" :value="name">
          <input type="hidden" name="email" :value="email">
          <input type="hidden" name="company" :value="company">
        </section>
        <!-- SECTION 1 -->
        <section v-if="currentPage === 1" id="quote-page-1">
          <div
            class="themesflat-spacer clearfix"
            data-desktop="73"
            data-mobile="60"
            data-smobile="60"
          />
          <div class="themesflat-headings style-2 clearfix text-center">
            <h2 class="heading">
              {{ quote.title }}
            </h2>
            <div class="sep has-width w80 accent-bg clearfix" />
          </div>
          <div
            class="themesflat-spacer clearfix"
            data-desktop="73"
            data-mobile="60"
            data-smobile="60"
          />
          <div class="sep has-width w80 accent-bg clearfix" />
          <div class="progress-bar-wrapper bg-white-column row">
            <div class="invisible page-navigation disabled" role="button" aria-disabled="true" @click="previousPage()"><i class="fa fa-chevron-left"></i> {{ quote.back }}</div>
            <div class="progress-wrapper">
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" />
              </div>
              <div>Page {{ currentPage }} of {{ totalPages }}</div>
            </div>
            <div class="page-navigation disabled" role="button" aria-disabled="true" @click="nextPage(2)" v-bind:class="{'yellow': page2enabled === true}">{{ quote.next }} <i class="fa fa-chevron-right" /></div>
          </div>
          <div class="row bg-white-column">
            <div class="themesflat-headings style-2 clearfix col-12">
              <h3>{{quote.typeOfProject.title}}</h3>
            </div>
            <div v-for="(type, index) in quote.typeOfProject.types" :key="index" class="col-md-6">
              <div :id="'type-' + type.type" class="project-type projectDeselected" @click="addProjectType(type, $event)">
                <img :id="'tick-' + type.type" :src="quote.tick" alt="ticked" class="tick invisible">
                <img :src="type.img" :alt="type.question">
                <p>{{ type.question }}</p>
              </div>
            </div>
            <div class="elm-button">
              <a @click="nextPage(2)" class="themesflat-button bg-accent" role="button" v-bind:class="{'disabled': page2enabled === false}" aria-disabled="true">{{ quote.nextButton }}</a>
            </div>
            <div
            class="themesflat-spacer clearfix"
            data-desktop="73"
            data-mobile="60"
            data-smobile="60"
          />
          </div>
          <div
            class="themesflat-spacer clearfix"
            data-desktop="73"
            data-mobile="60"
            data-smobile="60"
          />
        </section>
        <!-- SECTION 2 -->
        <section v-if="currentPage === 2" id="quote-page-2">
          <div
            class="themesflat-spacer clearfix"
            data-desktop="73"
            data-mobile="60"
            data-smobile="60"
          />
          <div v-if="projectType === 'residential'" class="themesflat-headings style-2 clearfix">
            <h2 class="heading">
              {{ quote.residentialProject }}
            </h2>
            <div class="sep has-width w80 accent-bg clearfix" />
          </div>
          <div v-if="projectType === 'commercial'" class="themesflat-headings style-2 clearfix">
            <h2 class="heading">
              {{ quote.commercialProject }}
            </h2>
            <div class="sep has-width w80 accent-bg clearfix" />
          </div>
          <div
            class="themesflat-spacer clearfix"
            data-desktop="73"
            data-mobile="60"
            data-smobile="60"
          />
          <div class="sep has-width w80 accent-bg clearfix" />
          <div class="progress-bar-wrapper bg-white-column row">
            <div class="page-navigation disabled" role="button" aria-disabled="true" @click="previousPage()"><i class="fa fa-chevron-left"></i> {{ quote.back }}</div>
            <div class="progress-wrapper">
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" />
              </div>
              <div>Page {{ currentPage }} of {{ totalPages }}</div>
            </div>
            <div class="page-navigation disabled" role="button" aria-disabled="true" @click="nextPage(3)" v-bind:class="{'yellow': page3enabled === true}">{{ quote.next }} <i class="fa fa-chevron-right"></div>
          </div>

          <article class="bg-white-column questionnaire">
            <h3>
              {{ quote.profession.title }}
            </h3>
            <article class="with-border">
              <div v-for="(prof, index) in quote.profession.professions" :key="index">
                <input
                  :id="'profession' + index"
                  v-model="profession"
                  type="radio"
                  name="profession"
                  :value="prof"
                >
                <label :for="'profession' + index">{{ prof }}</label><br>
              </div>
            </article>
            
            <h3>
              {{ quote.projectType.title }}
            </h3>
            <article  class="with-border">
              <div v-for="(proj, index) in quote.projectType.type" :key="index">
                <input
                  :id="'project' + index"
                  v-model="type"
                  type="radio"
                  name="project"
                  :value="proj"
                >
                <label :for="'project' + index">{{ proj }}</label><br>
              </div>
            </article>
            <div v-if="projectType === 'residential'">
              <h3>
                {{ quote.detail.title }}
              </h3>
              <article>
                <div v-for="(det, index) in quote.detail.detail" :key="index">
                  <input
                    :id="'detail' + index"
                    v-model="detail"
                    type="radio"
                    name="detail"
                    :value="det"
                    @change="checkIfOther(det)"
                  >
                  <label :for="'detail' + index">{{ det }}</label><br>
                </div>
                <input
                  v-if="otherDetailSelected"
                  id="residentialDetail"
                  v-model="detailOther"
                  type="text"
                  placeholder="Other"
                  name="detailOther"
                  size="100"
                >
              </article>
            </div>
            <div v-if="projectType === 'commercial'">
              <h3>
              {{ quote.commercialDetail.title }}
            </h3>
            <article>
              <div v-for="(det, index) in quote.commercialDetail.detail" :key="index">
                <input
                  :id="'commercialDetail' + index"
                  v-model="detail"
                  type="radio"
                  name="detail"
                  :value="det"
                  @change="checkIfOther(det, otherDetailSelected)"
                >
                <label :for="'commercialDetail' + index">{{ det }}</label><br>
              </div>
              <input
                v-if="otherDetailSelected"
                id="commercialDetail"
                v-model="detailOther"
                type="text"
                placeholder="Other"
                name="detailOther"
                size="100"
              >
            </article>
            </div>
            <div
            class="themesflat-spacer clearfix"
            data-desktop="73"
            data-mobile="60"
            data-smobile="60"
          />
          <div class="elm-button">
            <a @click="nextPage(3)" class="themesflat-button bg-accent" role="button" aria-disabled="true" v-bind:class="{'disabled': page3enabled === false}">{{ quote.nextButton }}</a>
          </div>
          </article>
          <div
            class="themesflat-spacer clearfix"
            data-desktop="73"
            data-mobile="60"
            data-smobile="60"
          />
        </section>
        
        <!-- SECTION 3 residential & commercial -->
        <section v-if="currentPage === 3" id="quote-page-3">
          <div
            class="themesflat-spacer clearfix"
            data-desktop="73"
            data-mobile="60"
            data-smobile="60"
          />
          <div v-if="projectType === 'residential'" class="themesflat-headings style-2 clearfix">
            <h2 class="heading">
              {{ quote.residentialProject }}
            </h2>
            <div class="sep has-width w80 accent-bg clearfix" />
          </div>
          <div v-if="projectType === 'commercial'" class="themesflat-headings style-2 clearfix">
            <h2 class="heading">
              {{ quote.commercialProject }}
            </h2>
            <div class="sep has-width w80 accent-bg clearfix" />
          </div>
          <div
            class="themesflat-spacer clearfix"
            data-desktop="73"
            data-mobile="60"
            data-smobile="60"
          />
          <div class="sep has-width w80 accent-bg clearfix" />
          <div class="progress-bar-wrapper bg-white-column row">
            <div class="page-navigation" @click="previousPage()"><i class="fa fa-chevron-left"></i> {{ quote.back }}</div>
            <div class="progress-wrapper">
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" />
              </div>
              <div>Page {{ currentPage }} of {{ totalPages }}</div>
            </div>
            <div class="page-navigation" @click="nextPage(4)" v-bind:class="{'yellow': page4enabled === true}">{{ quote.next }} <i class="fa fa-chevron-right"></div>
          </div>
          <article class="bg-white-column questionnaire">
            <h3>
              {{ quote.DAApproval.title }}
            </h3>
            <article class="with-border">
              <div v-for="(DA, index) in quote.DAApproval.approval" :key="index">
                <input
                  :id="'DAApproval' + index"
                  v-model="DAApproval"
                  type="radio"
                  name="DA"
                  :value="DA"
                  @change="checkIfNo('DAApproval')"
                >
                <label :for="'DAApproval' + index">{{ DA }}</label><br>
              </div>
              <article v-if="noDAApprovalSelected === true" class="sub-quote-article">
                <p>{{ quote.DAApproval.noDAApproval.title }}</p>
                <div v-for="(noDA, index) in quote.DAApproval.noDAApproval.reasons" :key="index">
                  <input
                    :id="'noDAApproval' + index"
                    v-model="noDAApproval"
                    type="radio"
                    name="noDA"
                    :value="noDA"
                  >
                  <label :for="'noDAApproval' + index">{{ noDA }}</label>
                </div>
              </article>
            </article>
            <h3>
              {{ quote.architecturalPlan.title }}
            </h3>
            <article class="with-border">
              <div>
                <input
                  id="architectural0"
                  v-model="architecturalPlans"
                  type="radio"
                  name="architectural"
                  :value="quote.architecturalPlan.plans[0]"
                  @change="checkIfNo('architectural')"
                >
                <label for="architectural0">{{ quote.architecturalPlan.plans[0] }}</label><br>
              </div>
              <div >
                <input
                  id="architectural1"
                  v-model="architecturalPlans"
                  type="radio"
                  name="architectural"
                  data-toggle="modal"
                  data-target="sorry-modal"
                  :value="quote.architecturalPlan.plans[1]"
                  @change="checkIfNo('architectural')"
                >
                <label for="architectural1" data-toggle="modal" data-arget="sorry-modal">{{ quote.architecturalPlan.plans[1] }}</label><br>
              </div>
              <article v-if="architecturalPlansSelected" class="sub-article-dashed">
                <h3>
                  {{ quote.architecturalPlan.upload }}
                </h3>
                <div v-if="architecturalPlan !== ''" class="uploaded-files">
                  <img :src="quote.yellowTick" alt="file uploaded">
                  <p>{{ architecturalPlan }}</p>
                </div>
                <input
                  id="architecturalPlans"
                  type="file"
                  name="architecturalPlans"
                  @change="showUploadedFile($event, 'architecture')"
                  multiple
                >
                <label for="architecturalPlans">
              <i class="fa fa-upload" />
              {{ quote.architecturalPlan.uploadButton }}
            </label>
              </article>
            </article>
            <h3>
              {{ quote.engineeringPlan.title }}
            </h3>
            <article class="with-border">
              <div v-for="(eng, index) in quote.engineeringPlan.plans" :key="index">
                <input
                  :id="'engineering' + index"
                  v-model="engineeringPlans"
                  type="radio"
                  name="engineering"
                  :value="eng"
                  @change="checkIfNo('engineering')"
                >
                <label :for="'engineering' + index">{{ eng }}</label><br>
              </div>
              <article v-if="engineeringPlansSelected" class="sub-article-dashed">
                <h3>
                  {{ quote.engineeringPlan.upload }}
                </h3>
                <div v-if="engineeringPlan !== ''" class="uploaded-files">
                  <img :src="quote.yellowTick" alt="file uploaded">
                  <p>{{ engineeringPlan }}</p>
                </div>
                <input
                  id="engineeringPlans"
                  type="file"
                  name="engineeringPlans"
                  @change="showUploadedFile($event, 'engineering')"
                >
                <label for="engineeringPlans">
              <i class="fa fa-upload" />
              {{ quote.engineeringPlan.uploadButton }}
            </label>
              </article>
            </article>
            <h3>
              {{ quote.structuralPlan.title }}
            </h3>
            <article>
            <div v-for="(struct, index) in quote.structuralPlan.plans" :key="index">
              <input
                :id="'structural' + index"
                v-model="structuralPlans"
                type="radio"
                name="structural"
                :value="struct"
              >
              <label :for="'structural' + index">{{ struct }}</label><br>
            </div>
          </article>
            <div
            class="themesflat-spacer clearfix"
            data-desktop="73"
            data-mobile="60"
            data-smobile="60"
          />
          <div class="elm-button">
            <a @click="nextPage(4)" class="themesflat-button bg-accent" role="button" aria-disabled="true" v-bind:class="{'disabled': page4enabled === false}">{{ quote.nextButton }}</a>
          </div>
          </article>
          <div
            class="themesflat-spacer clearfix"
            data-desktop="73"
            data-mobile="60"
            data-smobile="60"
          />
        </section>

        <!-- SECTION 4 residential & commercial -->
        <section v-if="currentPage === 4" id="quote-page-4">
          <div
            class="themesflat-spacer clearfix"
            data-desktop="73"
            data-mobile="60"
            data-smobile="60"
          />
          <div v-if="projectType === 'residential'" class="themesflat-headings style-2 clearfix">
            <h2 class="heading">
              {{ quote.residentialProject }}
            </h2>
            <div class="sep has-width w80 accent-bg clearfix" />
          </div>
          <div v-if="projectType === 'commercial'" class="themesflat-headings style-2 clearfix">
            <h2 class="heading">
              {{ quote.commercialProject }}
            </h2>
            <div class="sep has-width w80 accent-bg clearfix" />
          </div>
          <div
            class="themesflat-spacer clearfix"
            data-desktop="73"
            data-mobile="60"
            data-smobile="60"
          />
          <div class="sep has-width w80 accent-bg clearfix" />
          <div class="progress-bar-wrapper bg-white-column row">
            <div class="page-navigation  disabled" role="button" aria-disabled="true" @click="previousPage()"><i class="fa fa-chevron-left"></i> {{ quote.back }}</div>
            <div class="progress-wrapper">
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" />
              </div>
              <div>Page {{ currentPage }} of {{ totalPages }}</div>
            </div>
            <div class="page-navigation invisible disabled" role="button" aria-disabled="true" @click="nextPage()">{{ quote.next }} <i class="fa fa-chevron-right"></div>
          </div>
          <article class="bg-white-column questionnaire">
            <h3>
              {{ quote.quoteFor.title }}
            </h3>
            <article class="with-border">
              <div v-for="(quote, index) in quote.quoteFor.type" :key="index">
                <input
                  :id="'quoteFor' + index"
                  v-model="quoteFor"
                  type="radio"
                  name="quoteFor"
                  :value="quote"
                >
                <label :for="'quoteFor' + index">{{ quote }}</label><br>
              </div>
            </article>
            <h3>
              {{ quote.startProject.title }}
            </h3>
            <article class="with-border">
              <div v-for="(start, index) in quote.startProject.timeframe" :key="index">
                <input
                  :id="'startProject' + index"
                  v-model="startProject"
                  type="radio"
                  name="startProject"
                  :value="start"
                >
                <label :for="'startProject' + index">{{ start }}</label><br>
              </div>
            </article>
            <div
            class="themesflat-spacer clearfix"
            data-desktop="73"
            data-mobile="60"
            data-smobile="60"
          />
          <h3>
              {{ quote.message }}
          </h3>
          <article>
            <textarea id="quoteMessage" name="message" cols="40" rows="4" />
          </article>
          <div class="elm-button">
            <a @click="nextPage('submit')" class="themesflat-button bg-accent" role="button" v-bind:class="{'disabled': submitEnabled === false}">{{ quote.submitButton }}</a>
          </div>
          </article>
          <div
            class="themesflat-spacer clearfix"
            data-desktop="73"
            data-mobile="60"
            data-smobile="60"
          />
        </section>
        </form>